# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# Unignore Makefiles
!Makefile

# Unignore Dockerfiles
!Dockerfile

### Above combination will ignore all files without extension ###

# Ignore object files
*.o

# Ignore Erlang / Elixir BEAM files
*.beam

# Ignore C# build files
bin/
obj/
app.deps.json
app.dll
app.pdb
app.runtimeconfig.json